apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: kv-system
  name: kibana
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kibana
  template:
    metadata:
      labels:
        app: kibana
    spec:
      containers:
      - name: kibana
        image: docker.elastic.co/kibana/kibana:8.9.0
        ports:
        - containerPort: 5601
        env:
        ### --- KIBANA SECURITY ENV VARS ---
        - name: ELASTICSEARCH_HOSTS
          value: "https://elasticsearch.kv-system:9200"

        # Kibana username (Elastic superuser)
        - name: ELASTICSEARCH_USERNAME
          valueFrom:
            secretKeyRef:
              name: elasticsearch-credentials
              key: username

        - name: ELASTICSEARCH_PASSWORD
          valueFrom:
            secretKeyRef:
              name: elasticsearch-credentials
              key: password

        # Path to the CA certificate inside the container
        - name: ELASTICSEARCH_SSL_CERTIFICATEAUTHORITIES
          value: "/usr/share/kibana/config/certs/http_ca.crt"

        volumeMounts:
        - name: elastic-ca
          mountPath: /usr/share/kibana/config/certs
          readOnly: true

      volumes:
      - name: elastic-ca
        secret:
          secretName: elasticsearch-ca
---
apiVersion: v1
kind: Service
metadata:
  namespace: kv-system
  name: kibana
spec:
  selector:
    app: kibana
  ports:
    - port: 5601
      targetPort: 5601
      type: ClusterIP
