version: "3.9"

services:
  # ==========================
  # ETCD (Controller metadata)
  # ==========================
  etcd:
    image: bitnamilegacy/etcd:latest
    environment:
      - ALLOW_NONE_AUTHENTICATION=yes
      - ETCD_ADVERTISE_CLIENT_URLS=http://0.0.0.0:2379
      - ETCD_LISTEN_CLIENT_URLS=http://0.0.0.0:2379
    ports:
      - "2379:2379"

  # ==========================
  # REDIS (Message Queue)
  # ==========================
  redis:
    image: redis:6-alpine
    command: ["redis-server", "--appendonly", "yes"]
    ports:
      - "6379:6379"

  # ==========================
  # MONGO DB FOR EACH WORKER
  # ==========================

  worker1-mongo:
    image: mongo:6.0
    restart: always
    ports:
      - "27018:27017"
    volumes:
      - worker1-data:/data/db

  worker2-mongo:
    image: mongo:6.0
    restart: always
    ports:
      - "27019:27017"
    volumes:
      - worker2-data:/data/db

  worker3-mongo:
    image: mongo:6.0
    restart: always
    ports:
      - "27020:27017"
    volumes:
      - worker3-data:/data/db

  worker4-mongo:
    image: mongo:6.0
    restart: always
    ports:
      - "27021:27017"
    volumes:
      - worker4-data:/data/db

  # ==========================
  # CONTROLLER
  # ==========================
  controller:
    build:
      context: ./controller
    environment:
      - ETCD_HOST=etcd
      - ETCD_PORT=2379
    depends_on:
      - etcd
    ports:
      - "8000:8000"

  # ==========================
  # WORKER 1
  # ==========================
  worker1:
    build:
      context: ./worker
    environment:
      - NODE_ID=worker1
      - CONTROLLER_ADDR=http://controller:8000
      - REDIS_URL=redis://redis:6379/0
      - MONGO_URL=mongodb://worker1-mongo:27017
      - HTTP_PORT=8001
      - GRPC_PORT=50051
    depends_on:
      - controller
      - redis
      - worker1-mongo
    ports:
      - "8101:8001"
      - "51051:50051"

  # ==========================
  # WORKER 2
  # ==========================
  worker2:
    build:
      context: ./worker
    environment:
      - NODE_ID=worker2
      - CONTROLLER_ADDR=http://controller:8000
      - REDIS_URL=redis://redis:6379/0
      - MONGO_URL=mongodb://worker2-mongo:27017
      - HTTP_PORT=8001
      - GRPC_PORT=50052
    depends_on:
      - controller
      - redis
      - worker2-mongo
    ports:
      - "8102:8001"
      - "52052:50052"

  # ==========================
  # WORKER 3
  # ==========================
  worker3:
    build:
      context: ./worker
    environment:
      - NODE_ID=worker3
      - CONTROLLER_ADDR=http://controller:8000
      - REDIS_URL=redis://redis:6379/0
      - MONGO_URL=mongodb://worker3-mongo:27017
      - HTTP_PORT=8001
      - GRPC_PORT=50053
    depends_on:
      - controller
      - redis
      - worker3-mongo
    ports:
      - "8103:8001"
      - "53053:50053"

  # ==========================
  # WORKER 4
  # ==========================
  worker4:
    build:
      context: ./worker
    environment:
      - NODE_ID=worker4
      - CONTROLLER_ADDR=http://controller:8000
      - REDIS_URL=redis://redis:6379/0
      - MONGO_URL=mongodb://worker4-mongo:27017
      - HTTP_PORT=8001
      - GRPC_PORT=50054
    depends_on:
      - controller
      - redis
      - worker4-mongo
    ports:
      - "8104:8001"
      - "54054:50054"

volumes:
  worker1-data:
  worker2-data:
  worker3-data:
  worker4-data:
