version: "3.9"

services:
  controller:
    build:
      context: ./controller
      dockerfile: Dockerfile
    image: varn03/kv-controller:latest

  repl_worker:
    build:
      context: ./controller
      dockerfile: Dockerfile.repl-worker
    image: varn03/kv-repl-worker:latest

  worker:
    build:
      context: ./worker
      dockerfile: Dockerfile
    image: varn03/kv-worker:latest