apiVersion: apps/v1
kind: Deployment
metadata:
  name: controller
  namespace: kv-system
spec:
  replicas: 1
  selector:
    matchLabels:
      app: controller
  template:
    metadata:
      labels:
        app: controller
    spec:
      containers:
      - name: controller
        image: varn03/kv-controller:latest
        env:
        - name: ETCD_HOST
          value: "etcd.kv-system.svc.cluster.local"
        - name: ETCD_PORT
          value: "2379"
        - name: REDIS_URL
          value: "redis://redis.kv-system.svc.cluster.local:6379/0"
        ports:
        - containerPort: 8000
---
apiVersion: v1
kind: Service
metadata:
  name: controller
  namespace: kv-system
spec:
  selector:
    app: controller
  ports:
  - port: 8000
    targetPort: 8000
