apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: keyspacerebalances.kv.example.com
spec:
  group: kv.example.com
  versions:
    - name: v1alpha1
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          type: object
          properties:
            spec:
              type: object
              properties:
                node:
                  type: string
                action:
                  type: string
                dryRun:
                  type: boolean
  scope: Namespaced
  names:
    plural: keyspacerebalances
    singular: keyspacerebalance
    kind: KeyspaceRebalance
