apiVersion: apps/v1
kind: Deployment
metadata:
  name: etcd
  namespace: kv-system
  labels:
    app: etcd
spec:
  replicas: 1
  selector:
    matchLabels:
      app: etcd
  template:
    metadata:
      labels:
        app: etcd
    spec:
      containers:
      - name: etcd
        image: bitnamilegacy/etcd:3.5
        env:
          - name: ALLOW_NONE_AUTHENTICATION
            value: "yes"
          - name: ETCD_ADVERTISE_CLIENT_URLS
            value: "http://0.0.0.0:2379"
          - name: ETCD_LISTEN_CLIENT_URLS
            value: "http://0.0.0.0:2379"
        ports:
          - containerPort: 2379
        readinessProbe:
          httpGet:
            path: /health
            port: 2379
          initialDelaySeconds: 3
          periodSeconds: 5
        livenessProbe:
          httpGet:
            path: /health
            port: 2379
          initialDelaySeconds: 10
          periodSeconds: 10
