- name: Start Minikube and apply Kubernetes manifests
  hosts: local
  gather_facts: no
  become: false

  vars:
    kube_config_path: "/home/varn03/.kube/config" 
    kubectl_path: "/usr/local/bin/kubectl"

  tasks:

    - name: Get Minikube status JSON
      command: minikube status --output=json
      register: mk_raw
      ignore_errors: true

    - name: Parse Minikube JSON safely
      set_fact:
        mk_status: "{{ mk_raw.stdout | default('{}') | from_json }}"
      ignore_errors: true

    - name: Show parsed Minikube status
      debug:
        msg: "{{ mk_status }}"

    - name: Fail if Minikube is not running
      fail:
        msg: "Minikube is not fully running! (APIServer = {{ mk_status.APIServer | default('Unknown') }})"
      when: mk_status.APIServer != "Running"

    - name: Set kubectl context
      command: kubectl config use-context minikube
      ignore_errors: true

    - name: Apply Kubernetes manifests
      command: kubectl apply -f k8s/namespace.yaml
      command: kubectl apply -R -f k8s/
      ignore_errors: true
      args:
        chdir: "{{ playbook_dir }}/.."
