- name: Start Minikube and apply Kubernetes manifests
  hosts: local
  become: false

  tasks:

    - name: Get Minikube status JSON
      command: minikube status --output=json
      register: mk_raw

    - name: Parse Minikube JSON safely
      set_fact:
        mk_status: "{{ mk_raw.stdout | default('{}') | from_json }}"

    - name: Set kubectl context to minikube
      shell: kubectl config use-context minikube
      when: mk_status.stdout is defined and mk_status.stdout != "Running"
      ignore_errors: true

    # 4. Apply Kubernetes manifests in k8s/ directory
    - name: Apply manifests in k8s folder
      command: kubectl apply -R -f k8s/
      when: mk_status.stdout is defined and mk_status.stdout != "Running"
      args:
        chdir: "{{ playbook_dir }}/.."
