fastapi
uvicorn[standard]
httpx
motor            # async MongoDB driver
pymongo
redis            # redis client (sync) — used if needed
aioredis    # async redis client (streams publisher/consumer)
pydantic
prometheus-client
opentelemetry-api
opentelemetry-sdk
protobuf==3.20.3
grpcio
grpcio-tools
